<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.NewCHPOrder"
        tools:targetApi="31">
        <activity
            android:name=".householdForm"
            android:label="@string/home"
            android:parentActivityName=".mainPage"
            android:exported="false" />
        <activity
            android:name=".itemlist"
            android:label="@string/home"
            android:parentActivityName=".mainPage"
            android:exported="false" />
        <activity
            android:name=".foodForm"
            android:label="@string/home"
            android:parentActivityName=".mainPage"
            android:exported="false" />
        <activity
            android:name=".aboutPage"
            android:label="@string/home"
            android:parentActivityName=".mainPage"
            android:exported="false" />
        <activity
            android:name=".contactPage"
            android:label="@string/home"
            android:parentActivityName=".mainPage"
            android:exported="false" />
        <activity
            android:name=".results"
            android:label="@string/home"
            android:parentActivityName=".mainPage"
            android:exported="false" />
        <activity
            android:name=".mainPage"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
    </application>

</manifest>